.App {
  text-align: center;
  background-color: #5e6779;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.App-header {
  background-color: #282c34;
  max-height: 20vh;
  font-size: calc(10px + 2vmin);
}

.Err {
  color:red;
}

header {
  display: flex;
  justify-content: space-between; /* split "about" and "login" group to two sides */
}

/* about, chat, ... */
header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 10px;
  color: #fff;
}

header ul li a {
  text-decoration: none; /* remove default underline of a */
  
}

/*hover effect*/
head ul li:hover{
    background: #fff;
    color : #2b1055;
    border-radius: 30px; /*round border*/
}

.form_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
