.msg_ul {
    min-height: 40vh;
    max-width: 90%;
}

.msg_row {
    list-style-type: none;   /* remove bullet */
    background-color: #8adcf3;
    margin: 10px;
    height: 50px;
    width: 100%;
}